<tr align="center">
  <td class="alt2">
    <%= fetch_forum_lightbulb forum, @lightbulbs %>
  </td>
  <td class="alt1Active" align="left">
    <div>
      <strong><%= link_to h(forum.title), forum_path(forum.id) %></strong>
    </div>
    <div class="smallfont"><%=h forum.description %></div>
  </td>
  <td class="alt2">
    <%= fetch_forum_lastpost forum, @lastposts %>
  </td>
  <td class="alt1"><%= forum.topic_count %></td>
  <td class="alt2"><%= forum.post_count %></td>
</tr>