<tr align="center">
  <td class="alt2">
    <%= image_tag "/assets/forum/icons/forum_old.gif" %>
  </td>
  <td class="alt1Active" align="left" id="f11">
    <div>
      <strong><%= link_to h(child.title), forum_path(child.id) %></strong>
    </div>
    <div class="smallfont"><%=h child.description %></div>
  </td>
  <td class="alt2">
    <div class="smallfont" align="left">
      <% if child.last_post %>
        <div>
          <span style="white-space:nowrap">
            <strong><%= link_to "#{child.last_post.title}", "/topics/#{child.last_post.id}" %></strong>
          </span>
        </div>
        <div style="white-space:nowrap">
          by <%= link_to child.last_post.user.username, "/users/#{child.last_post.last_poster_id}" %>
        </div>
        <div align="right" style="white-space:nowrap">
          <%= time_tag child.last_post.last_post_at, :format =>'%m-%d-%y %l:%M %p' %>
        </div>
      <% else %>
        <div align="center" style="white-space:nowrap">
          -
        </div>
      <% end %>
    </div>
  </td>
  <td class="alt1"><%= child.total_topics %></td>
  <td class="alt2"><%= child.total_posts %></td>
</tr>
