<tr align="center">
  <td class="alt2">
    <%= image_tag "/assets/forum/icons/forum_old.gif" %>
  </td>
  <td class="alt1Active" align="left" id="f11">
    <div>
      <strong><%= link_to h(child.title), forum_path(child.id) %></strong>
    </div>
    <div class="smallfont"><%=h child.description %></div>
  </td>
  <td class="alt2">
    <%= render :partial => 'last_post', :locals => {:forum => child} %>
  </td>
  <td class="alt1"><%= child.total_topics %></td>
  <td class="alt2"><%= child.total_posts %></td>
</tr>