<tr>
  <td class="alt1"><%= image_tag "forum/icons/thread.gif" %></td>
  <td class="alt2">&nbsp;</td>
  <td class="alt1">
    <div><strong><%= link_to h(topic.title), topic_path(topic.id) %></strong></div>
    <div class="smallfont">
      <%= link_to topic.user.username, "/users/#{topic.user_id}" %>
    </div>
  </td>
  <td class="alt2">
    <div class="smallfont" style="text-align:right; white-space:nowrap">
      <%= time_tag topic.last_post_at, :format =>'%m-%d-%y %l:%M %p' %> <br />
      by <%= link_to topic.user.username, "/users/#{topic.last_poster_id}" %>
    </div>
  </td>
  <td class="alt1" align="center"><%= number_with_delimiter(topic.replies) %></td>
  <td class="alt2" align="center"><%= number_with_delimiter(topic.views) %></td>
  <td class="alt1" align="center"><%= link_to "x", topic, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
