<tr id="thread_line_<%= topic.id %>">
  <td class="alt1"><%= build_status_icon topic %></td>
  <td class="alt2">&nbsp;</td>
  <td class="alt1">
    <div>
      <span style="float:right">
        <%= image_tag("/assets/forum/icons/moderated_small.gif") if !topic.visible? %>
        <%= image_tag("/assets/forum/icons/sticky.gif") if topic.sticky? %>
        <%= image_tag("/assets/forum/icons/trashcan_small.gif") if topic.visible == 2 %>
      </span>

      <% if check_for_new_post topic %>
        <%= link_to image_tag("/assets/forum/buttons/firstnew.gif", :class => "inlineimg"), firstnew_post_path(topic.redirect? ? topic.redirect : topic.id) %>
      <% end %>

      <%= "Moderated:" if !topic.visible? %>
      <%= "Sticky:" if topic.sticky? and !topic.redirect? and topic.visible? %>
      <%= "Moved:"  if topic.redirect? and topic.visible? %>

      <% if topic.visible == 2 %>
        <em><%= h(topic.title) %></em>
      <% else %>
        <% if check_for_new_post topic %>
          <strong><%= link_to h(topic.title), topic_path(topic.redirect? ? topic.redirect : topic.id) %></strong>
        <% else %>
          <%= link_to h(topic.title), topic_path(topic.redirect? ? topic.redirect : topic.id) %>
        <% end %>
      <% end %>
    </div>
    <div class="smallfont">
      <span style="cursor: pointer; " onclick="window.open('<%= user_path(topic.user_id) %>', '_self')">
        <%= topic.user.username %>
      </span>
    </div>
  </td>
  <% if topic.visible == 2 %>
    <td class="alt2" colspan="3" align="center">
      <div class="smallfont">Thread deleted</div>
    </div>
  <% else %>
    <td class="alt2">
      <% if topic.redirect? %>
        <div align="center">-</div>
      <% else %>
        <div class="smallfont" style="text-align:right; white-space:nowrap">
          <%= time_tag topic.posts.last.date, :format =>'%m-%d-%y %l:%M %p' %> <br />
          by 
          <%= link_to topic.posts.last.user.username, users_path(topic.posts.last.user_id) %>
          <%= link_to image_tag("/assets/forum/buttons/lastpost.gif", :class => "inlineimg"), topics_lastpost_path(topic) %>
        </div>
      <% end %>
    </td>
    <td class="alt1" align="center">
      <% if topic.redirect? %>
        <div align="center">-</div>
      <% else %>
        <%= number_with_delimiter(topic.replies) %>
      <% end %>
    </td>
    <td class="alt2" align="center">
      <% if topic.redirect? %>
        <div align="center">-</div>
      <% else %>
        <%= number_with_delimiter(topic.views) %>
      <% end %>
    </td>
  <% end %>
  <% if logged_in? %>
    <td class="alt1" align="center">
      <input type="checkbox" name="topic_ids[]" value="<%= topic.id %>" id="tlist_<%= topic.id %>" class="inline_mod" />
    </td>
  <% end %>
</tr>
