<% title @forum.title  %>
<br />

<% if @forum.has_children? %>
  <%= render :partial => 'sub_forums', :locals => {:forum => @forum} %>
<% end %>

<% if @forum.can_contain_topics? %>
  <!-- controls above thread list -->
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom:3px">
  <tr valign="bottom">
    <td>
      <%= link_to image_tag("forum/buttons/newthread.gif") , new_topic_path(:forum_id => @forum.id) %>
    </td>
    <td align="right">
      <%= paginate @topics, :theme => "forums", :window => 3 %>
    </td>
  </tr>
  </table>
  <!-- /controls above thread list -->

  <!-- threads list  -->
  <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
  <tr>
    <td class="thead" colspan="2">&nbsp;</td>
    <td class="thead" width="100%"><%= build_sort_link("Thread", 'title') %> / <%= build_sort_link("Thread Starter", 'username') %></td>
    <td class="thead" width="150" align="center" nowrap="nowrap"><%= build_sort_link("Last Post", 'updated_at') %></td>
    <td class="thead" align="center" nowrap="nowrap"><%= build_sort_link("Replies", 'replies') %></td>
    <td class="thead" align="center" nowrap="nowrap"><%= build_sort_link("Views", 'views') %></td>
    <td class="thead" align="center" nowrap="nowrap">&nbsp;</td>
  </tr>

  <% if !@topicbits.empty? %>
    <% for topic in @topicbits %>
    <%= render :partial => 'topic_bit', :locals => {:topic => topic} %>
    <% end %>
  <% else %>
    <tr>
      <td class="alt1" colspan="7" align="center">
        There are no topics in this forum.
      </td>
    </tr>
  <% end %>
  </table>
  <!-- /threads list  -->

  <!-- controls below thread list -->
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:3px">
  <tr valign="top">
    <td>
      <%= link_to image_tag("forum/buttons/newthread.gif") , new_topic_path(:forum_id => @forum.id) %>
    </td>
    <td align="right">
      <%= paginate @topics, :theme => "forums", :window => 3 %>
      
      <!-- thread moderation -->
      <div class="smallfont" style="text-align:left; white-space:nowrap; float:right">
        <div><strong>Moderation</strong></div>
        <select name="do">
          <option value="deletethread">Delete Threads</option>
          <option value="undeletethread">Undelete Threads</option>
          <option value="spamthread">Delete Threads as Spam</option>
          <option value="open">Open Threads</option>
          <option value="close">Close Threads</option>
          <option value="approvethread">Approve Threads</option>
          <option value="unapprovethread">Unapprove Threads</option>
          <option value="stick">Stick Threads</option>
          <option value="unstick">Unstick Threads</option>
          <option value="movethread">Move Threads</option>
          <option value="mergethread">Merge Threads</option>
        </select>
        <input type="submit" class="button" id="inlinego" value="Go (0)" />
      </div>
      <!-- /thread moderation -->
    </td>
  </tr>
  </table>
  <!-- /controls below thread list -->
<% end %>