<% title @forum.title  %>
<br />

<% if @forum.child_list? %>
  <%= render :partial => 'sub_forums', :locals => {:forums => @children} %>
<% end %>

<% if @forum.is_forum? %>
  <!-- controls above thread list -->
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom:3px">
  <tr valign="bottom">
    <td>
      <% if logged_in? %>
        <%= link_to image_tag("/assets/forum/buttons/newthread.gif", :title => "Create new topic"), new_topic_path(:forum_id => @forum.id) %>
        <%= link_to image_tag("/assets/forum/buttons/new_announcement.png", :title => "Create new announcement"), new_announcement_path(:forum_id => @forum.id) %>
      <% end %>
    </td>
    <td align="right">
      <%= paginate @topics, :theme => "forums", :window => 3 %>
    </td>
  </tr>
  </table>
  <!-- /controls above thread list -->

  <%= form_for :topics, :url => manage_topics_path do |f| %>
  <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">

  <!-- announcements list -->
  <% @announcements.each do |a| %>
    <%= render :partial => 'announcement', :locals => {:announcement => a} %>
  <% end %>
  <!-- /announcements list -->

  <tr>
    <td class="thead" colspan="2">&nbsp;</td>
    <td class="thead" width="100%"><%= build_sort_link("Thread", 'title') %> / <%= build_sort_link("Thread Starter", 'username') %></td>
    <td class="thead" width="150" align="center" nowrap="nowrap"><%= build_sort_link("Last Post", 'last_post_at') %></td>
    <td class="thead" align="center" nowrap="nowrap"><%= build_sort_link("Replies", 'replies') %></td>
    <td class="thead" align="center" nowrap="nowrap"><%= build_sort_link("Views", 'views') %></td>
    <% if logged_in? %>
      <td class="thead" align="center" nowrap="nowrap">&nbsp;</td>
    <% end %>
  </tr>

  <!-- Topics list  -->
  <% if !@topics.empty? %>
    <% for topic in @topics %>
      <%= render :partial => 'topic_bit', :locals => {:topic => topic} %>
    <% end %>
  <% else %>
    <tr>
      <td class="alt1" colspan="7" align="center">
        There are no topics in this forum.
      </td>
    </tr>
  <% end %>
  <!-- /Topics list  -->
  </table>

  <!-- controls below thread list -->
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:3px">
  <tr valign="top">
    <td>
      <% if logged_in? %>
        <%= link_to image_tag("/assets/forum/buttons/newthread.gif", :title => "Create new topic"), new_topic_path(:forum_id => @forum.id) %>
      <% end %>
    </td>
    <td align="right">
      <%= paginate @topics, :theme => "forums", :window => 3 %>
      <%= raw "<br />" if paginate @topics %>

      <% if logged_in? %>
        <!-- thread moderation -->
        <div class="smallfont" style="text-align:left; white-space:nowrap; float:right">
          <%= select_tag "do", options_for_select([
            ["Delete Topics", "delete"], 
            ["Undelete Topics", "undelete"], 
            ["Open Topics", "open"], 
            ["Close Topics", "close"], 
            ["Approve Topics", "approve"], 
            ["Unapprove Topics", "unapprove"], 
            ["Stick Topics", "stick"], 
            ["Unstick Topics", "unstick"], 
            ["Move Topics", "move"], 
            ["Merge Topics", "merge"]
          ], 'last_post_at')%>

          <input type="hidden" name="forum_id" value="<%= @forum.id %>" />
          <%= submit_tag "Go", :class => :button %>
        </div>
        <!-- /thread moderation -->
      <% end %>
    </td>
  </tr>
  </table>
  <!-- /controls below thread list -->
  <% end %>

  <br />

  <!-- icon key & display options -->
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <table cellpadding="2" cellspacing="0" border="0">
      <tr>
        <td><%= image_tag("/assets/forum/icons/thread_new.gif", :title => "New posts")  %></td>
        <td class="smallfont">New posts</td>
        <td><%= image_tag("/assets/forum/icons/thread_hot_new.gif", :title => "More than 15 replies or 150 views")  %></td>
        <td class="smallfont">Hot thread with new posts</td>
      </tr>
      <tr>
        <td><%= image_tag("/assets/forum/icons/thread.gif", :title => "No new posts")  %></td>
        <td class="smallfont">No new posts</td>
        <td><%= image_tag("/assets/forum/icons/thread_hot.gif", :title => "More than 15 replies or 150 views")  %></td>
        <td class="smallfont">Hot thread with no new posts</td>
      </tr>
      <tr>
        <td><%= image_tag("/assets/forum/icons/thread_lock.gif", :title => "Closed Thread")  %></td>
        <td class="smallfont">Thread is closed</td>
        <td><%= image_tag("/assets/forum/icons/thread_dot.gif", :title => "Thread Contains a Message Written By You")  %></td>
        <td class="smallfont">You have posted in this thread</td>
      </tr>
      </table>
    </td>
    <td align="right">
      <%= form_for :display, :method => "get" do |f| %>
      <table cellpadding="0" cellspacing="1" border="0">
      <tr valign="bottom">
        <td class="smallfont" style="padding-right:6px">
          <div><%= label_tag :sort, "Sorted By" %></div>
          <%= select_tag "sort", options_for_select([
            ["Topic Title", "title"], 
            ["Last Post Time", "last_post_at"],
            ["Topic Start Time", "created_at"],
            ["Number of Replies", "replies"],
            ["Number of Views", "views"],
            ["Topic Starter", "username"]
          ], params[:sort] ? params[:sort] : 'last_post_at')%>
          
        </td>
        <td class="smallfont" style="padding-right:6px">
          <div><%= label_tag :order, "Sort Order" %></div>
          <%= select_tag "order", options_for_select([
            ["Ascending", "asc"], 
            ["Descending", "desc"]
          ], params[:order] ? params[:order] : 'desc')%>
        </td>
        <td class="smallfont">
          <div><%= label_tag :daysprune, "From The" %></div>
          <%= select_tag "daysprune", options_for_select([
            ["Last Day", "1"], 
            ["Last 2 Days", "2"], 
            ["Last Week", "7"], 
            ["Last 10 Days", "10"], 
            ["Last 2 Weeks", "14"], 
            ["Last Month", "30"], 
            ["Last 45 Days", "45"], 
            ["Last 2 Months", "60"], 
            ["Last 75 Days", "75"], 
            ["Last 100 Days", "100"], 
            ["Last Year", "365"], 
            ["Beginning", "-1"]
          ], params[:daysprune] ? params[:daysprune] : '-1') %>
          
        </td>
      </tr>
      <tr valign="bottom">
        <td class="smallfont" colspan="2">
          &nbsp;
        </td>
        <td class="smallfont" align="right" style="padding-top:6px">
          <%= submit_tag "Show Topics", :class => :button %>
        </td>
      </tr>
      </table>
      <% end %>
    </td>
  </tr>
  </table>
  <!-- icon key & display options -->

<% end %>