<% title @forum.title  %>
<br />

<% if @forum.has_children? %>
  <%= render :partial => 'sub_forums', :locals => {:forum => @forum} %>
<% end %>

<% if @forum.can_contain_topics? %>
  <!-- controls above thread list -->
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom:3px">
  <tr valign="bottom">
    <td>
      <%= link_to image_tag("forum/buttons/newthread.gif") , "/topics/new?forum=#{@forum.id}" %>
    </td>
    <td align="right">
      <%= paginate @topics, :theme => "forums", :window => 3 %>
    </td>
  </tr>
  </table>
  <!-- /controls above thread list -->

  <!-- threads list  -->
  <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
  <tr>
    <td class="thead" colspan="2">&nbsp;</td>
    <td class="thead" width="100%">
      Thread / Thread Starter
    </td>
    <td class="thead" width="150" align="center" nowrap="nowrap"><span style="white-space:nowrap">Last Post</span></td>
    <td class="thead" align="center" nowrap="nowrap"><span style="white-space:nowrap">Replies</span></td>
    <td class="thead" align="center" nowrap="nowrap"><span style="white-space:nowrap">Views</span></td>
    <td class="thead" align="center" nowrap="nowrap">&nbsp;</td>
  </tr>

  <% if !@topicbits.empty? %>
    <% for topic in @topicbits %>
    <%= render :partial => 'topic_bit', :locals => {:topic => topic} %>
    <% end %>
  <% else %>
    <tr>
      <td class="alt1" colspan="7" align="center">
        There are no topics in this forum.
      </td>
    </tr>
  <% end %>
  </table>
  <!-- /threads list  -->

  <!-- controls below thread list -->
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:3px">
  <tr valign="top">
    <td>
      <%= link_to image_tag("forum/buttons/newthread.gif") , "/topics/new?forum=#{@forum.id}" %>
    </td>
    <td align="right">
      <%= paginate @topics, :theme => "forums", :window => 3 %>
    </td>
  </tr>
  </table>
  <!-- /controls below thread list -->
<% end %>

