<% title @forum.name  %>
<br />

<% if @forum.has_children? %>
<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center" style="border-bottom-width:0px">
<tr>
  <td class="tcat" width="100%">Sub-Forums<span class="normal"> : <%= @forum.name %></span></td>
</tr>
</table>
<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
<tr align="center">
  <td class="thead">&nbsp;</td>
  <td class="thead" width="100%" align="left">Forum</td>
  <td class="thead">Last Post</td>
  <td class="thead">Threads</td>
  <td class="thead">Posts</td>
</tr>
<% for child in @forum.fetch_child_forums(@forum.child_ids) %>
  <% if child.can_contain_topics?%>
    <%= render :partial => 'level2_post', :locals => {:child => child} %>
  <% else %>
    <%= render :partial => 'level2_nopost', :locals => {:child => child} %>
  <% end %>
<% end %>
</table>
<br />
<% end %>

<% if @forum.can_contain_topics? %>
  <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
  <tr>
    <td class="thead" colspan="2">&nbsp;</td>
    <td class="thead" width="100%">
      Thread / Thread Starter
    </td>
    <td class="thead" width="150" align="center" nowrap="nowrap"><span style="white-space:nowrap">Last Post</span></td>
    <td class="thead" align="center" nowrap="nowrap"><span style="white-space:nowrap">Replies</span></td>
    <td class="thead" align="center" nowrap="nowrap"><span style="white-space:nowrap">Views</span></td>
    <td class="thead" align="center" nowrap="nowrap">&nbsp;</td>
  </tr>

  <% if @forum.topics != [] %>
    <% for topic in @forum.topics %>
    <%= render :partial => 'topic_bit', :locals => {:topic => topic} %>
    <% end %>
  <% else %>
    <tr>
      <td class="alt1" colspan="7" align="center">
        There are no topics in this forum.
      </td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to "New Topic", "/topics/new?forum=#{@forum.id}" %>
<% end %>

