<table id="post<%= post.id %>" class="tborder" cellpadding="6" cellspacing="0" border="0" width="100%" align="center">
<tr>
    <td class="thead" style="font-weight:normal; border: 1px solid #D1D1E1; border-right: 0px" >
      <a name="post<%= post.id %>"><%= image_tag "/assets/forum/icons/post_old.gif", :class => "inlineimg" %></a>
      
      <% if @last_read %>
        <% if @last_read >= post.created_at %>
          <%= image_tag "/assets/forum/icons/post_old.gif", :class => "inlineimg" %>
        <% else %>
          <%= image_tag "/assets/forum/icons/post_new.gif", :class => "inlineimg" %>
        <% end %>
      <% end %>
      
      <%= time_tag post.created_at, :format =>'%m-%d-%Y, %l:%M %p' %>
    </td>
    <td class="thead" style="font-weight:normal; border: 1px solid #D1D1E1; border-left: 0px" align="right">
      <% if params[:controller] != 'posts'%>
        #<%= link_to "#{post.post_count}", post_path(post) %>
      <% end %>
    </td>
</tr>
<tr valign="top">
  <td class="alt2" width="175" style="border: 1px solid #D1D1E1; border-top: 0px; border-bottom: 0px">
      <%= link_to post.user.username, user_url(post.user), :class => "bigusername" %>
      <div class="smallfont"><%= post.user.title %></div>

      <div class="smallfont">
        <div>&nbsp;</div>
        <div>Join Date: <%= time_tag post.user.created_at, :format => "%b %Y" %></div>
        <div>Posts: <%= number_with_delimiter(post.user.post_count) %></div>
      </div>
  </td>
  
  <td class="alt1" style="border-right: 1px solid #D1D1E1">
    <%= raw bbcode2text(post.content) %>
  </td>
</tr>
<tr>
  <td class="alt2" style="border: 1px solid #D1D1E1; border-top: 0px">
    &nbsp;
  </td>
  <td class="alt1" align="right" style="border: 1px solid #D1D1E1; border-left: 0px; border-top: 0px">
    <% if logged_in? %>
      <%= link_to image_tag("/assets/forum/buttons/edit.gif"), edit_post_path(post) %>
      <%= link_to image_tag("/assets/forum/buttons/quote.gif"), new_post_path(:topic_id => @topic.id, :quote => post.id) %>
      <%= link_to "x", post, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </td>
</tr>
</table>
<br />