<% content_for :head do %>
  <%= tinymce %>
<% end %>

<% if !params[:preview].nil? && !@post.content.empty? %>
<!-- post preview -->
<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
<tr>
  <td class="tcat">Preview</td>
</tr>
<tr>
  <td class="alt1">
      <%= raw bbcode2text(@post.content) %>
  </td>
</tr>
</table>
<br />
<!-- post preview -->
<% end %>

<%= form_for @post do |f| %>
<%= f.error_messages %>
<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
<tr>
  <td class="tcat">
    <span class="smallfont" style="float:right"><strong>Topic</strong>: <%= link_to @topic.title, topic_path(@topic) %></span>
    <%= params[:action] == 'edit' ? "Edit Post" : "Reply to Thread" %>
  </td>
</tr>
<tr>
  <td class="panelsurround" align="center">
    <div class="panel">
      <div style="width:640px" align="left">
        <!-- user is logged in -->
        <div class="smallfont" style="float:right">
          Logged in as <%= link_to current_user.username, user_path(current_user), :target => "_blank" %>
        </div>

        <!-- subject field -->
        <table cellpadding="0" cellspacing="0" border="0" class="fieldset">
        <tr>
          <td class="smallfont" colspan="3">Title:</td>
        </tr>
        <tr>
          <td><%= f.text_field :title, :class => "bginput", :size => "50", :maxlength => "85" %></td>
        </tr>
        </table>
        <!-- / subject field -->

        <!-- message area -->
        <div class="smallfont">Message:</div>
        <%= f.text_area :content, :class => "tinymce", :rows => "10", :cols => "60", :style => "width:540px; height:250px" %>
        <!-- / message area -->
      </div>
    </div>

    <div style="margin-top:6px">
      <%= f.hidden_field :topic_id, :value => @topic.id %>
      <%= f.submit "Submit", :class => "button" %>
      <%= f.submit "Preview Post", :class => "button", :name => "preview" %>
    </div>
  </td>
</tr>
</table>
<% end %>