<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "forum" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
<body>
  <div id="container">
    
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <!-- breadcrumb, login, pm info -->
    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
    <tr>
      <td class="alt1" width="100%">
        <div class="navbar" style="font-size:10pt">
          <strong><%= content_for?(:title) ? yield(:title) : "Untitled" %></strong>
        </div>
      </td>

      <td class="alt2" nowrap="nowrap">
      <div class="smallfont">
        <% if current_user %>
          Welcome, <%= current_user.username %> - <%= link_to "logout", logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> | <%= link_to "Login", login_path %>
        <% end %>
      </div>
      </td>
    </tr>
    </table>
    <!-- / breadcrumb, login, pm info -->
    <br />
    
    <%= yield %>
  </div>
</body>
</html>


