<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
<body>

  <%= render :partial => 'layouts/header' %>
  
  <!-- main content -->
  <div align="center">
    <div class="page" style="width:100%; text-align:left">
      <div style="padding:0px 25px 0px 25px" align="left">
        <%= render :partial => 'layouts/navbar' %>
        <%= yield %>
        <br />
      </div>
    </div>
  </div>
  <!-- /main content -->

  <%= render :partial => 'layouts/footer' %>
</body>
</html>


